
    <div class="row justify-content-center">
        <div class="col-5 search-form">
            {% include 'partials/search.html' %}
        </div>
    </div>
    {% if answer is not None %}
            <h1 class="answer" style="color: red">{{ answer }}</h1>
    {% endif %}
    {% include 'partials/products_list.html' %}

    <div class="row justify-content-center">
        <div class="col-4">
            {% if is_paginated %}
                {% include 'partials/pagination.html' %}
            {% endif %}
        </div>
    </div>
