{% extends 'base.html' %}
{% block title %}
    Product: {{ product.product_name }}
{% endblock %}
{% block menu %}
{% endblock %}
{% block content %}
    <div class="container">
        <p class="main-title-home"></p>
        <div class="box">
        {% if answer is not None %}
            <h1 class="answer" style="color: red">{{ answer }}</h1>
        {% endif %}

            <div class="row justify-content-center ">
                <div class="col-5 text-center">
                    <img class="product_card" src="{{ product.product_image }}" alt="Card image cap">
                </div>
                <div class="col-5 card_desc">
                    <h5 class="card-title">{{ product.product_name }}</h5>

                    {% for choice in choices %}
                        {% if product.product_category == choice.0 %}
                            <a class="category-link" href="{% url 'list_by_category' choice.0 %}">{{ choice.1 }}</a>
                        {% endif%}
                    {% endfor %}
                    <p class="card-price">Цена: {{ product.price | floatformat:-2 }} $</p>
                    <p class="card-description">{{ product.product_description }}</p>
                    <span class="added">добавлено: {{ product.created_at |date:'Y/m/d H:i:s' }}</span>

                    <form class="text-center" action="{% url 'product_detail_add' product.pk %}" method="POST">
                            {% csrf_token %}
                                {% for f in product_to_cart_form %}
                                <label for="{{ f.id_for_label }}">{{ f.label }}:</label>
                                    {% for error in f.errors %}
                                        <p class="form-error">{{ f.error }}</p>
                                        {{ f }}
                                    {% endfor %}

                                <div class="row justify-content-center">
                                    <div class="col-10 text-center">
                                        <button type="submit" class="btn btn-secondary btn-block">В корзину</button>
                                    </div>
                                </div>
                            </form>
                            {% endfor %}

                    <div class="row justify-content-center space-between">

                        <div class="col-6 text-center">
                            <a href="{% url 'product_delete' product.pk %}"><button type="submit" class="btn btn-secondary btn-block">Удалить</button></a>
                        </div>

                        <div class="col-6 text-center">
                            <a href="{% url 'product_edit' product.pk %}"><button type="submit" class="btn btn-secondary btn-block">Редактировать</button></a>
                        </div>
                    </div>

                </div>


    </div>
{% endblock %}