
<div class="container">
    <div class="box">
        <div class="head_text heading text-center">
                <p class="main-title-home">{{ main_title }}</p>
            </div>
        {% for find in find_form %}
        <div class="row justify-content-center">
           <div class="col-1 title">
               <label class="form-label" for="{{ find.id_for_label }}">{{ find.label}}:</label>
           </div>
           <div class="col-3 title">
               <div class="row-form-errors">{{ find.errors }}</div>
               {{ find }}
           </div>
            {% endfor %}
           <div class="col-1">
            <button type="submit" class="btn btn-secondary btn-block">{{ button_text }}</button>
        </div>
        </div>



    </div>
</div>